/* poniżej przedziały  */
/*  my tutaj robimy od największych do najmniejszych  */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}

/* Desktops and laptops     tutaj tak na prawdę nie trzeba bo style css tego dotyczą ----------- */
/* @media only screen and (min-width: 1224px) {
	
} */

/* iPads (landscape) ----------- czyli duże mobilki */
@media only screen and (min-device-width: 765px) and (max-device-width: 1024px) and (orientation: landscape) {
  .about p {
    font-size: 0.8rem;
  }
  section.menu {
    height: 100vh;
  }
}
/* iPads (portrait )----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    width: 50%;
  }
  nav {
    font-size: 1rem;
  }
  section.menu {
    height: 100vh;
  }
  .menu img {
    width: 50%;
  }
  .login-form {
    width: 50vw;
    height: 60vh;
  }
}
/* Smartphones plus-size (landscape) ----------- */

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: landscape) {
  div.container {
    display: none;
  }
  nav {
    height: 15vh;
  }
  .open {
    display: block;
    margin-left: 80%;
    margin-top: 1%;
    z-index: 1;
  }
  .logo img {
    height: 100%;
  }
  .open,
  .close {
    position: fixed;
    top: 2%;
    right: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffffc5;
    text-decoration: none;
    transition: 3s;
    z-index: 7;
  }
  main {
    top: 15%;
  }
  section.about {
    height: 110vh;
  }

  .about p {
    font-size: 0.6rem;
  }
  section.photos {
    height: 80vh;
  }
  section.contact {
    font-size: 0.8rem;
    height: 50vh;
  }
  .mySlides img {
    width: 50%;
  }
  .login-form {
    width: 60vw;
    height: 70vh;
  }
  .overlay-content {
    padding-top: 3vh;
  }
  .overlay-content a {
    font-size: 1.4rem;
  }
  .overlay-content a.reservation {
    font-size: 1.4rem;
    color: black;
  }
  .login-form {
    width: 70vw;
    height: 80vh;
    margin-top: 6vh;
    padding: 0;
  }
  .login-form h1 {
    font-size: 1rem;
    padding: 15px 10px;
    margin: 0 0 2vh 0;
  }
  div.form-control {
    margin: 3vh 0 3vh 0 !important;
  }
  div.form-control label {
    font-size: 0.9rem !important;
  }
  .login-form .btn {
    height: 15%;
    margin: 1vh 0 0 0;
  }
}

/* Smartphones plus-size (portrait) ----------- */

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: portrait) {
  div.container {
    display: none;
  }
  nav {
    height: 15vh;
  }
  .open {
    display: block;
    margin-left: 80%;
    margin-top: 1%;
    z-index: 1;
  }
  .logo img {
    height: 100%;
  }
  .open,
  .close {
    position: fixed;
    top: 2%;
    right: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffffc5;
    text-decoration: none;
    transition: 3s;
    z-index: 7;
  }
  main {
    top: 15%;
  }
  section.about {
    height: 110vh;
  }
  section.menu {
    height: 100vh;
  }
  section.menu img {
    width: 60%;
  }
  .about p {
    font-size: 0.8rem;
  }
  section.photos {
    height: 60vh;
  }
  section.contact {
    font-size: 0.9rem;
    height: 30vh;
  }
  .mySlides img {
    width: 50%;
  }
  .login-form {
    width: 60vw;
    height: 70vh;
  }
  .overlay-content {
    padding-top: 3vh;
  }
  .overlay-content a {
    font-size: 1.4rem;
  }
  .overlay-content a.reservation {
    font-size: 1.4rem;
    color: black;
  }
  .login-form {
    width: 70vw;
    height: 80vh;
    margin-top: 6vh;
    padding: 0;
  }
  .login-form h1 {
    font-size: 1rem;
    padding: 15px 10px;
    margin: 0 0 2vh 0;
  }
  div.form-control {
    margin: 3vh 0 3vh 0 !important;
  }
  div.form-control label {
    font-size: 0.9rem !important;
  }
  .login-form .btn {
    height: 15%;
    margin: 1vh 0 0 0;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  div.container {
    display: none;
  }
  nav {
    height: 15vh;
    width: 100vw;
  }
  .logo img {
    top: 0;
    left: 100%;
  }
  .open {
    display: block;
    margin-left: 80%;
    margin-top: 1%;
    z-index: 1;
  }

  .open,
  .close {
    position: fixed;
    top: 2%;
    right: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffffc5;
    text-decoration: none;
    transition: 3s;
    z-index: 7;
  }

  main {
    top: 15%;
  }
  section.about {
    height: 110vh;
  }

  .about p {
    font-size: 0.7rem;
  }
  div.opacity {
    width: 70%;
    height: 65%;
  }
  section.menu {
    height: 80vh;
  }
  .menu img {
    width: 60%;
  }
  section.photos {
    height: 60vh;
  }

  section.contact {
    font-size: 0.8rem;
    height: 30vh;
  }
  .mySlides img {
    width: 65%;
  }
  .login-form {
    width: 60vw;
    height: 70vh;
  }
  .overlay-content {
    padding-top: 3vh;
  }
  .overlay-content a {
    font-size: 1.4rem;
  }
  .overlay-content a.reservation {
    font-size: 1.4rem;
    color: black;
  }
  .login-form {
    width: 70vw;
    height: 80vh;
    margin-top: 6vh;
    padding: 0;
  }
  .login-form h1 {
    font-size: 1rem;
    padding: 15px 10px;
    margin: 0 0 2vh 0;
  }
  div.form-control {
    margin: 3vh 0 3vh 0 !important;
  }
  div.form-control label {
    font-size: 0.9rem !important;
  }
  .login-form .btn {
    height: 15%;
    margin: 1vh 0 0 0;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 480px) and (orientation: landscape) {
  div.container {
    display: none;
  }
  nav {
    height: 15vh;
  }
  .open {
    display: block;
    margin-left: 80%;
    margin-top: 1%;
    z-index: 1;
  }
  .logo img {
    height: 100%;
  }
  .open,
  .close {
    position: fixed;
    top: 2%;
    right: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffffc5;
    text-decoration: none;
    transition: 3s;
    z-index: 7;
  }
  main {
    top: 15%;
  }

  section.about {
    height: 110vh;
  }
  .menu {
    height: 80vh;
  }
  .menu img {
    width: 20% !important;
  }
  .about p {
    font-size: 0.5rem;
  }
  section.photos {
    height: 80vh;
  }
  section.contact {
    font-size: 0.8rem;
    height: 50vh;
  }
  .mySlides img {
    width: 50%;
  }
  .contact p:nth-child(1) {
    font-size: 1rem;
    padding: 4px;
  }
  .login-form {
    width: 60vw;
    height: 70vh;
  }
  .overlay-content {
    padding-top: 3vh;
  }
  .overlay-content a {
    font-size: 1.4rem;
  }
  .overlay-content a.reservation {
    font-size: 1.4rem;
    color: black;
  }
  .login-form {
    width: 70vw;
    height: 80vh;
    margin-top: 6vh;
    padding: 0;
  }
  .login-form h1 {
    font-size: 1rem;
    padding: 15px 10px;
    margin: 0 0 2vh 0;
  }
  div.form-control {
    margin: 3vh 0 3vh 0 !important;
  }
  div.form-control label {
    font-size: 0.9rem !important;
  }
  .login-form .btn {
    height: 15%;
    margin: 1vh 0 0 0;
  }
}
